@model KULLA.Models.Shitja

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shitja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produkti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produkti.ProduktiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sasia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sasia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blersi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blersi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
